.wrap-login {
    box-shadow: 0 0 20px 5px lightgray;
    margin: 0 auto;
    padding: 10px 10px;
    width: 250px;
}
.wrap-login form {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
.wrap-login input {
    height: 20px;
}