.wrap {
    box-shadow: 0 0 10px 1px lightgray;
    padding: 15px;
    width: 200px;
    margin: 0 auto;
}
.wrap form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}