.wrap {
    width: 52%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
}

.users-card {
    box-shadow: 0 0 10px 1px cadetblue;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}