<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }
        .form-div {
            width: 70%;
            border: 2px solid antiquewhite;
            padding: 15px;
            margin: 0 auto;
        }
        .form-div div {
            width: 30%;
            display: flex;
            justify-content: flex-end;
        }
        .form-div button {
            width: 30%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="form-div">
    <form action="/login" method="post" class="form">
        <div>
            <label>firstName:<input text="text" name="firstName"></label>
        </div>
        <div>
            lastName: <input text="text" name="lastName">
        </div>
        <div>
            email: <input text="text" name="email">
        </div>
        <div>
            password: <input text="text" name="password">
        </div>
        <div>
            age: <input text="text" name="age">
        </div>
        <div>
            city: <input text="text" name="city">
        </div>

        <button>Send</button>

    </form>
</div>

</body>
</html>