<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrap {
            width: 50%;
            border: 2px solid cadetblue;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 10px;
            box-sizing: border-box;
            gap: 15px;
        }
        .user {
            box-sizing: border-box;
            box-shadow: 0 0 5px 0 cadetblue;
            width: 23%;
            padding: 8px;
        }
    </style>
</head>
<body>
<div class="wrap">

    {{#each users}}
        <div class="user">
            <h3>{{this.firstName}}  {{this.lastName}}</h3>
            <div>age: {{this.age}}</div>
            <div>city: {{this.city}}</div>
        </div>
        {{/each}}

</div>
</body>
</html>