doctype html
html
    head

    body
        div
            | Hello #{name}
            br

        block content

        div
            | (c) Sep-2021 1991-2022
            | FOOTER !
            a(href=url) CLICK
