extends container
block content
    div
        | You have logged in to your account
    div
        img(src='https://naurok-test.nyc3.cdn.digitaloceanspaces.com/uploads/test/42238/121668/386567_1585944759.png')
